<Configuration status="WARN" monitorInterval="30"  packages="se.skl.tp.vp">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <EcsLayout/>
        </Console>

        <TestLogAppender name="TestLogAppender"/>
    </Appenders>

    <Loggers>
        <AsyncLogger name="se.skl.tp.vp" level="WARN"/>

        <!--Level INFO will log the init/reset och TAK cache-->
        <AsyncLogger name="se.skltp.takcache" level="INFO"/>
        <AsyncLogger name="se.skl.tp.vp.vagval.ResetTakCacheProcessor" level="INFO"/>

        <!--Level INFO will log the init/reset of HSA cache-->
        <AsyncLogger name="se.skl.tp.vp.service.HsaCacheServiceImpl" level="INFO"/>

        <!--Level INFO will log startup for spring boot application-->
        <AsyncLogger name="se.skl.tp.vp.VpServicesApplication" level="INFO"/>

        <!--Apache camel-->
        <AsyncLogger name="org.apache.camel.spring.SpringCamelContext" level="INFO"/>
        <AsyncLogger name="org.apache.camel" level="WARN"/>

        <!--Error handlers-->
        <AsyncLogger name="se.skl.tp.vp.errorhandling" level="INFO"/>

        <!-- Debug logging of SSL context configuration -->
        <AsyncLogger name="se.skl.tp.vp.sslcontext.SSLContextParametersConfig" level="DEBUG"/>

        <!-- Message logging -->
        <!-- Use synchronous loggers here since some tests use
        the TestLogAppender to check what is logged. With a async logger we
        dont know for sure when its logged to appender.-->
        <Logger name="se.skl.tp.vp.logging.req.in" level="DEBUG" additivity="false">
            <AppenderRef ref="TestLogAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="se.skl.tp.vp.logging.req.out" level="DEBUG" additivity="false">
            <AppenderRef ref="TestLogAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="se.skl.tp.vp.logging.resp.in" level="DEBUG" additivity="false">
            <AppenderRef ref="TestLogAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="se.skl.tp.vp.logging.resp.out" level="DEBUG" additivity="false">
            <AppenderRef ref="TestLogAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="se.skl.tp.vp.logging.error" level="DEBUG" additivity="false">
            <AppenderRef ref="TestLogAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="se.skl.tp.vp.integrationtests.utils" level="INFO"/>

        <Logger name="se.skl.tp.vp.httpheader.OriginalConsumerIdProcessorImpl" level="WARN" additivity="false">
            <AppenderRef ref="TestLogAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="se.skl.tp.vp.httpheader.IPWhitelistHandlerImpl" level="WARN" additivity="false">
            <AppenderRef ref="TestLogAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="io.netty.util.ResourceLeakDetector" level="INFO" additivity="false">
            <AppenderRef ref="TestLogAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <!--Communication logging, should only be turned for a troubleshooting -->
        <Logger name="org.apache.camel.component.netty" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="io.netty" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Memory logging -->
        <Logger name="se.skl.tp.vp.logging.memory" level="INFO"/>

        <Root level="WARN">
            <!--<AppenderRef ref="RollingRandomAccessFile"/>-->
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>