<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.FileAppender" name="devnull">
        <param value="/dev/null" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %d [%t] %c: %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="file">
        <param value="../logs/vp.log" name="File"/>
        <param value="50" name="MaxBackupIndex"/>
        <param value="5MB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %d [%t] %c: %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <logger name="com.mulesource">
        <level value="error"/>
    </logger>
    <logger name="org.apache">
        <level value="error"/>
    </logger>
    <logger name="org.apache.cxf">
        <level value="error"/>
    </logger>
    <logger name="org.hibernate.engine.StatefulPersistenceContext.ProxyWarnLog">
        <level value="error"/>
    </logger>
    <logger name="org.mule">
        <level value="info"/>
    </logger>
    <logger name="org.mule.component.simple.LogComponent">
        <level value="error"/>
    </logger>
    <logger name="org.mule.DefaultMuleContext">
        <level value="info"/>
    </logger>
    <logger name="org.mule.model.seda">
        <level value="info"/>
    </logger>
    <logger name="org.mule.MuleServer">
        <level value="info"/>
    </logger>
    <logger name="org.soitoolkit.commons">
        <level value="info"/>
    </logger>
    <logger additivity="false" name="org.soitoolkit.commons.mule.messageLogger">
        <level value="info"/>
    </logger>
    <logger name="org.springframework">
        <level value="info"/>
    </logger>
    <logger name="org.springframework.beans.factory">
        <level value="warn"/>
    </logger>
    <logger name="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader">
        <level value="error"/>
    </logger>
    <logger name="se.skl.tp.vp">
        <level value="warn"/>
    </logger>
    <logger name="se.skl.tp.vp.util">
        <level value="warn"/>
    </logger>
    <root>
        <level value="warn"/>
        <appender-ref ref="file"/>
    </root>
</log4j:configuration>
