apiVersion: v1
kind: ConfigMap
metadata:
  name: vp-configmap-default
data:
  BASE_PATH: {{ tpl .Values.paths.base . }}
  DATA_PATH: {{ tpl .Values.paths.data . }}
  CONFIGURATION_VERSION_FILE: {{ tpl .Values.paths.config . }}/config.version
  DEFAULTROUTING_ALLOWEDCONTRACTS: urn:riv:ehr:accesscontrol:AssertCareEngagementResponder:1,urn:riv:insuranceprocess:healthreporting:ReceiveMedicalCertificateQuestionResponder:1,urn:riv:insuranceprocess:healthreporting:ReceiveMedicalCertificateAnswerResponder:1
  HEADERS_REG_EXP_REQUESTHEADERSTOREMOVE: (?i)x-vp.*|PEER_CERTIFICATES|X-Forwarded.*|MULE_.*|X-MULE_.*|Connection|accept-encoding|X-Forwarded-Tls-Client-Cert
  HSA_FILES: {{ tpl .Values.paths.config . }}/hsacachecomplementary.xml,{{ tpl .Values.paths.hsafiles . }}/hsacache.xml
  IP_WHITELIST: 127.0.0.1,10.
  HTTP_FORWARDED_HEADER_AUTH_CERT: X-Forwarded-Tls-Client-Cert
  MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: health, metrics, prometheus
  MANAGEMENT_ENDPOINT_PROMETHEUS_ENABLED: "true"
  MEMORY_LOGGER_PERIOD_SECONDS: "1800"
  PRODUCER_HTTP_KEEPALIVE: "true"
  PRODUCER_HTTP_WORKERS: "0"
  PRODUCER_HTTPS_KEEPALIVE: "true"
  PRODUCER_HTTPS_WORKERS: "0"
  PROPAGATE_CORRELATION_ID_FOR_HTTPS: "true"
  SENDER_ID_ALLOWED_LIST: TSTNMT2321000156-B02
  SERVER_FORWARDHEADERSSTRATEGY: NONE
  SERVER_PORT: "8089"
  SERVER_UNDERTOW_ACCESSLOG_DIR: {{ tpl .Values.paths.log . }}
  SERVER_UNDERTOW_ACCESSLOG_ENABLED: "false"
  SERVER_UNDERTOW_ACCESSLOG_PATTERN: common
  SERVER_UNDERTOW_ACCESSLOG_PREFIX: access_log
  SERVER_UNDERTOW_ACCESSLOG_ROTATE: "true"
  SERVER_UNDERTOW_ACCESSLOG_SUFFIX: .log
  TAKCACHE_ENDPOINT_ADDRESS: http://tak-services-svc:8080/tak-services/SokVagvalsInfo/v2
  TAKCACHE_PERSISTENT_FILE_NAME: {{ tpl .Values.paths.data . }}/localCache
  THROW_VP013_WHEN_ORIGINALCONSUMER_NOT_ALLOWED: "false"
  TIMEOUT_JSON_FILE: {{ tpl .Values.paths.config . }}/timeoutconfig.json
  TIMEOUT_JSON_FILE_DEFAULT_TJANSTEKONTRAKT_NAME: default_timeouts
  VAGVALROUTER_DEFAULT_ROUTING_ADDRESS_DELIMITER: '#'
  MESSAGE_LOGGER_METHOD: ecs
  VP_HSA_RESET_CACHE_URL: http://0.0.0.0:24000/resethsacache
  VP_HTTP_ROUTE_URL: http://0.0.0.0:8080/vp
  VP_HTTPS_ROUTE_URL: https://0.0.0.0:20000/vp
  VP_INSTANCE_ID: {{ .Values.skltp.instanceId }}
  VP_INSTANCE_NAME: SKLTP-DEFAULT
  VP_MAX_RECEIVE_LENGTH: "52428800"
  VP_RESET_CACHE_URL: http://0.0.0.0:23000/resetcache
  VP_STATUS_URL: http://0.0.0.0:8080/status
  VP_USE_ROUTING_HISTORY: "true"
  WSDL_JSON_FILE: {{ tpl .Values.paths.config . }}/wsdlconfig.json
  WSDLFILES_DIRECTORY: {{ tpl .Values.paths.base . }}/wsdl/
  JAVA_OPTS:  -Dlog4j2.formatMsgNoLookups=true
              -Dfile.encoding=UTF-8
              -Duser.country=SE
              -Duser.language=sv
              -Dspring.profiles.active=custom
              -Xms512m
              -Xmx1536m
              -XX:MaxRAMPercentage=65
              -Dlog4j.configurationFile=file://{{ tpl .Values.paths.config . }}/log4j2.xml
              -Dcom.sun.management.jmxremote
              -Dcom.sun.management.jmxremote.port=8084
              -Dcom.sun.management.jmxremote.rmi.port=8084
              -Dcom.sun.management.jmxremote.local.only=false
              -Dcom.sun.management.jmxremote.authenticate=false
              -Dcom.sun.management.jmxremote.ssl=false

{{- range .Values.tls.bundles }}
  SPRING_SSL_BUNDLE_PEM_{{ .name | upper }}_KEYSTORE_CERTIFICATE: {{ tpl $.Values.paths.certs $ }}/{{ .name }}-keystore/tls.crt
  SPRING_SSL_BUNDLE_PEM_{{ .name | upper }}_KEYSTORE_PRIVATEKEY: {{ tpl $.Values.paths.certs $ }}/{{ .name }}-keystore/tls.key
  SPRING_SSL_BUNDLE_PEM_{{ .name | upper }}_TRUSTSTORE_CERTIFICATE: {{ tpl $.Values.paths.certs $ }}/{{ .name }}-truststore/ca.crt
{{- end }}
{{- with .Values.tls.defaultConfig }}
  VP_TLS_DEFAULTCONFIG_NAME: "{{ .name }}"
  VP_TLS_DEFAULTCONFIG_BUNDLE: "{{ .bundle }}"
  {{- if .protocolsInclude }}
  VP_TLS_DEFAULTCONFIG_PROTOCOLSINCLUDE: "{{ join "," .protocolsInclude }}"
  {{- end }}
  {{- if .protocolsExclude }}
  VP_TLS_DEFAULTCONFIG_PROTOCOLSEXCLUDE: "{{ join "," .protocolsExclude }}"
  {{- end }}
  {{- if .cipherSuitesInclude }}
  VP_TLS_DEFAULTCONFIG_CIPHERSUITESINCLUDE: "{{ join "," .cipherSuitesInclude }}"
  {{- end }}
  {{- if .cipherSuitesExclude }}
  VP_TLS_DEFAULTCONFIG_CIPHERSUITESEXCLUDE: "{{ join "," .cipherSuitesExclude }}"
  {{- end }}
{{- end }}
{{- range $index, $override := .Values.tls.overrides }}
  VP_TLS_OVERRIDES_{{ $index }}_NAME: "{{ $override.name }}"
  VP_TLS_OVERRIDES_{{ $index }}_BUNDLE: "{{ $override.bundle }}"
  {{- if $override.match.domainName }}
  VP_TLS_OVERRIDES_{{ $index }}_MATCH_DOMAINNAME: "{{ $override.match.domainName }}"
  {{- end }}
  {{- if $override.match.domainSuffix }}
  VP_TLS_OVERRIDES_{{ $index }}_MATCH_DOMAINSUFFIX: "{{ $override.match.domainSuffix }}"
  {{- end }}
  {{- if $override.match.port }}
  VP_TLS_OVERRIDES_{{ $index }}_MATCH_PORT: "{{ $override.match.port }}"
  {{- end }}
  {{- if $override.protocolsInclude }}
  VP_TLS_OVERRIDES_{{ $index }}_PROTOCOLSINCLUDE: "{{ join "," $override.protocolsInclude }}"
  {{- end }}
  {{- if $override.protocolsExclude }}
  VP_TLS_OVERRIDES_{{ $index }}_PROTOCOLSEXCLUDE: "{{ join "," $override.protocolsExclude }}"
  {{- end }}
  {{- if $override.cipherSuitesInclude }}
  VP_TLS_OVERRIDES_{{ $index }}_CIPHERSUITESINCLUDE: "{{ join "," $override.cipherSuitesInclude }}"
  {{- end }}
  {{- if $override.cipherSuitesExclude }}
  VP_TLS_OVERRIDES_{{ $index }}_CIPHERSUITESEXCLUDE: "{{ join "," $override.cipherSuitesExclude }}"
  {{- end }}
{{- end }}
