<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-30C - %m%n" />
		</layout>
	</appender>
    <appender class="org.apache.log4j.FileAppender" name="devnull">
        <param value="/dev/null" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %d [%t] %c: %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <appender class="org.apache.log4j.RollingFileAppender" name="file">
        <param value="../logs/vp.log" name="File"/>
        <param value="50" name="MaxBackupIndex"/>
        <param value="5MB" name="MaxFileSize"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%-5p %d [%t] %c: %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <logger name="com.mulesource">
        <level value="info"/>
    </logger>
    <logger name="org.apache">
        <level value="warn"/>
    </logger>
    <logger name="org.apache.cxf">
        <level value="info"/>
    </logger>
    <logger name="org.hibernate.engine.StatefulPersistenceContext.ProxyWarnLog">
        <level value="error"/>
    </logger>
    <logger name="org.mule">
        <level value="info"/>
    </logger>
    <logger name="org.mule.component.simple.LogComponent">
        <level value="info"/>
    </logger>
    <logger name="org.mule.DefaultMuleContext">
        <level value="info"/>
    </logger>
    <logger name="org.mule.model.seda">
        <level value="info"/>
    </logger>
    <logger name="org.mule.MuleServer">
        <level value="info"/>
    </logger>
    <logger name="org.soitoolkit.commons">
        <level value="info"/>
    </logger>
    <logger name="org.soitoolkit.commons.mule.messageLogger">
        <level value="debug"/>
    </logger>
    <logger name="org.springframework">
        <level value="info"/>
    </logger>
    <logger name="org.springframework.beans.factory">
        <level value="warn"/>
    </logger>
    <logger name="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <level value="info"/>
    </logger>
    <logger name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader">
        <level value="info"/>
    </logger>
    <logger name="se.skl.tp.vp">
        <level value="info"/>
    </logger>
    <logger name="se.skl.tp.vp.logmanager">
        <level value="info"/>
    </logger>
    <logger name="se.skl.tp.vp.util">
        <level value="info"/>
    </logger>
    <logger name="se.skl.tp.vp.util.helper.AddressingHelper">
        <level value="debug"/>
    </logger>


    <!-- Logging of http trafic, e.g. REST/HTTP or SOAP/HTTP 
	<logger name="httpclient.wire">
		<level value="DEBUG" />
	</logger>
	<logger name="org.apache.commons.httpclient">
		<level value="DEBUG" />
	</logger>
    -->

    <root>
        <level value="info"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
