<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 
		This is the VP production configuration for logging, it is important that this file
		always is correct configured as in production ready. Support and maintenance should 
		not need to change this file in case of a new deploy of the VP application.
	 -->
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %-30C - %m%n" />
		</layout>
	</appender>
    
    <appender name="devnull" class="org.apache.log4j.FileAppender">
        <param name="file" value="/dev/null"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%t] %c: %m%n"/>
        </layout>
    </appender>
    
    <appender name="ROLLINGFILE" class="org.apache.log4j.RollingFileAppender">
        <param  name="file" value="${mule.home}/logs/mule-app-vp.log"/>
        <param name="MaxBackupIndex" value="10" />
        <param name="MaxFileSize" value="50MB" />
        
        <!-- The threshold level for this appender. -->
        <!-- <param name="Threshold" value="ERROR"/> -->
        <layout class="org.apache.log4j.PatternLayout">
        	 <param name="ConversionPattern" value="%d %-5p %-30C - %m%n" />
        </layout>
    </appender>
    
    <!--
		Loglevels: {OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL} See:
		http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/Level.html
	-->
	
  
  	<logger name="org.mockftpserver">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.apache.sshd">
		<level value="ERROR" />
	</logger>	

    <logger name="org.apache.activemq.transport.failover.FailoverTransport">
        <level value="DEBUG" />
    </logger>
    
	<logger name="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<level value="TRACE" />
	</logger>

	<logger name="org.springframework.core.io.support.PropertiesLoaderSupport">
		<level value="INFO" />
	</logger>

	<logger name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader">
		<level value="INFO" />
	</logger>

	<logger name="org.mule.model.seda">
		<level value="INFO" />
	</logger>
	<logger name="org.mule.MuleServer">
		<level value="INFO" />
	</logger>
	<logger name="org.mule.DefaultMuleContext">
		<level value="INFO" />
	</logger>

    <!-- Message logging using the old Mule <logger/> - element -->
    <logger name="org.mule.api.processor.LoggerMessageProcessor">
        <level value="ERROR" />
    </logger>

    <!-- Message logging using the old Mule <log-component/> - element -->
    <logger name="org.mule.component.simple.LogComponent">
        <level value="ERROR" />
    </logger>

    <logger name="org.soitoolkit.commons">
		<level value="ERROR" />
	</logger>
    
    <!--     	
    	For logging events to QUEUE using EventLogger:
    	
    	INFO puts logevents and errorevents on log queue
    	ERROR will only put errorevents on log queue
    	 
    -->
	<logger name="org.soitoolkit.commons.mule.messageLogger">
		<level value="INFO" />
	</logger>
	
	<!-- 
		For logging events to APPENDER using EventLogger:
		
		INFO logs logevents and errorevents to selected appender
    	ERROR will only log errorevents to selected appender
	-->
	 <logger name="se.skl.tp.vp.util.EventLogger">
        <level value="ERROR"/>
     </logger>
	
    <logger name="se.skl.tp.vp">
        <level value="ERROR"/>
    </logger>
    
    <logger name="se.skl.tp.hsa">
        <level value="ERROR"/>
    </logger>
    
    <!-- Level INFO will give log output for reset cache to selected appender -->
    <logger name="se.skl.tp.vp.vagvalagent.VagvalAgent">
        <level value="INFO"/>
    </logger>

	 <!-- Level INFO will give log output for reset hsa cache to selected appender -->
    <logger name="se.skl.tp.vp.vagvalagent.ResetHsaCache">
        <level value="INFO"/>
    </logger>
    
    <!-- Level INFO will give log output during startup of VP, initiating VP caches etc -->
    <logger name="se.skl.tp.vp.vagvalagent.MuleStartupNotificationHandler">
        <level value="INFO"/>
    </logger>
	

    <root>
       <priority value="WARN" />

        <appender-ref ref="ROLLINGFILE"/>
		<!--
        <appender-ref ref="CONSOLE" />
		-->
    </root>
</log4j:configuration>
