namespace: ntjp

deployment:
  name: vp
  elasticGrokFilter: vp
  replicaCount: 2
  environment:
    name: dev
    domain: ntjp.se
  resources: {} # The no-op curly-braces can optionally replace below sub-resources.
  topologySpreadConstraints:
    - labelSelector:
        matchLabels:
          app: vp
      maxSkew: 2
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule

skltp:
  instanceId: default_instance

container:
  image:
    name: vp-services-camel
    pullPolicy: Always


hsaCacheCronJob:
  elasticGrokFilter: cronjob
  schedule: "25 1 * * *"
  timeZone: "Europe/Stockholm"
  image:
    name: hsa-cache
    tag: 1.1.0
    pullPolicy: Always
  certSecret: test.esb.ntjp.sjunet.org
  trustSecret: esb-function-cert

ingressroute:
  esbHostName: base.env.url # This should be overridden and set to your environment's base hostname.
  sjunetHostName: base.sjunet.env.url # This should be overridden and set to your environment's base hostname.
  bksVpHostName: base.bks.vp.env.url # This should be overridden and set to your environment's base hostname.
  bksHostName: base.bks.env.url # This should be overridden and set to your environment's base hostname.

ingress:
  enabled: true
  tls:
    secret:
      name: esb-function-cert
    version:
      min: VersionTLS12
      max: VersionTLS13
    mtls:
      clientAuth:
        secretNames:
          - esb-function-cert
        clientAuthType: RequireAndVerifyClientCert

ipWhiteList_http: # Override to specify proxy ip(s)
  sourceRange:
    - 10.0.0.0/8
  ipStrategy:
    depth: 1

ipWhiteList_liveness: # Override to specify loadbalancer ip(s)
  sourceRange:
    - 10.0.0.0/8
  ipStrategy:
    depth: 1

ipWhiteList_direct: # Override to restrict direct https access
  sourceRange:
    - 0.0.0.0/0

service:
  name: vp
  type: ClusterIP
  port: 8080

paths:
  base: /etc/vp
  data: "/var/run/vp/data"
  hsafiles: "/var/run/vp/hsafiles"
  config: "{{ .Values.paths.base }}/config"
  log: /var/log/camel
  certs: "{{ .Values.paths.base }}/certs"

environment:
  config_files:
    - config_map: vp-config-files
      path: "{{ .Values.paths.base }}/config"
      path_relative_to_base: true
      volume_name: default-config-files-from-cm
  variables:
    _default_config_maps:
      - vp-configmap-default
    config_maps:
      # Nothing yet. Override to supply your own maps.
    secrets:
      # Nothing yet. Override to supply your own secrets.

imagePullSecrets:
  - name: regcred

log4j:
  loggers:
    - name: se.skl.tp
      level: INFO
    - name: se.skl.tp.vp.logging.req.in
      level: DEBUG
    - name: se.skl.tp.vp.logging.req.out
      level: "OFF"
    - name: se.skl.tp.vp.logging.resp.in
      level: "OFF"
    - name: se.skl.tp.vp.logging.resp.out
      level: DEBUG
  rootLoggerLevel: WARN

timeoutConfig:
  - tjanstekontrakt: default_timeouts
    routetimeout: 35000
    producertimeout: 35000

tls:
    bundles:
    - name: clientcert
      tlsSecret: test.esb.ntjp.sjunet.org
      truststoreConfigMap: test-siths-ca
    defaultConfig:
      name: main
      bundle: clientcert
      protocolsInclude:
      - TLSv1.3
      - TLSv1.2
      cipherSuitesInclude:
      - TLS_AES_128_GCM_SHA256
      - TLS_AES_256_GCM_SHA384
      - TLS_CHACHA20_POLY1305_SHA256
      - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
      - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
      - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
      - TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
      - TLS_DHE_DSS_WITH_AES_256_GCM_SHA384
      - TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
      - TLS_DHE_DSS_WITH_AES_128_GCM_SHA256
      - TLS_ECDH_RSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDH_ECDSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDH_RSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDH_ECDSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
      - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
      - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
      - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
      - TLS_DHE_RSA_WITH_AES_256_CBC_SHA256
      - TLS_DHE_DSS_WITH_AES_256_CBC_SHA256
      - TLS_DHE_RSA_WITH_AES_128_CBC_SHA256
      - TLS_DHE_DSS_WITH_AES_128_CBC_SHA256
      - TLS_ECDH_RSA_WITH_AES_256_CBC_SHA384
      - TLS_ECDH_ECDSA_WITH_AES_256_CBC_SHA384
      - TLS_ECDH_RSA_WITH_AES_128_CBC_SHA256
      - TLS_ECDH_ECDSA_WITH_AES_128_CBC_SHA256
      - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
      - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
      - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
      - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
      - TLS_DHE_DSS_WITH_AES_256_CBC_SHA
      - TLS_DHE_RSA_WITH_AES_256_CBC_SHA
      - TLS_DHE_RSA_WITH_AES_128_CBC_SHA
      - TLS_DHE_DSS_WITH_AES_128_CBC_SHA
      - TLS_ECDH_RSA_WITH_AES_256_CBC_SHA
      - TLS_ECDH_ECDSA_WITH_AES_256_CBC_SHA
      - TLS_ECDH_RSA_WITH_AES_128_CBC_SHA
    overrides: []

probes:
  startupProbe:
    httpGet:
      path: actuator/health/readiness
      port: actuators
      scheme: HTTP
    initialDelaySeconds: 20
    failureThreshold: 10
    periodSeconds: 4  # 20s + 10 * 4s = 1 minute max startup time
    successThreshold: 1
    timeoutSeconds: 1
  livenessProbe:
    httpGet:
      path: actuator/health/liveness
      port: actuators
      scheme: HTTP
    initialDelaySeconds: 0
    failureThreshold: 3
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 2

resources: {}